body{
	margin: 0;
	padding: 0;
	width: 100%;
}

h1 { 
  font-family: 'Dosis', sans-serif;
	font-weight: bold;
	font-size: 55px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  margin: 0;
	padding: 0;
}


h3 {
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
  font-size: 16px;
  text-align: left;
  margin: 5px 0;
	padding: 0;
	z-index: 1;
	position: relative;
}

h4 {
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}

a:link {
  color: #5A3567;
	text-decoration:none;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}   

a:hover {
  color: #B657AE;
	text-decoration:none;
}

a:visited,
a:active {
  color: #5A3567;
	text-decoration:none;
}

*:focus {
  outline: none;
}


.center { margin: 0 auto; }
.content { margin: 0 auto; width: 100%; }
.clear { clear: both; }
.hidden { display: none; }


/* Site header and navigation */
header { 
	width: 100%; 
	background-color: #4db1b0;
	min-height: 85px; 	
	position: relative;
	margin-top: 0px;
	opacity: 0.90;
	box-sizing: border-box;
	padding: 15px 30px;
	z-index: 999;
}

.fixed-header {
	position: fixed;
	top: 0;
}

/* Logo and navigation in the header */
#logo-wrapper, 
nav {
	display: inline-block;
	vertical-align: top;
}

#logo-wrapper a { 
	font-family: 'Oswald', sans-serif; 
	font-weight: bold; 
	font-size: 30px; 
	line-height: 100%;
	color: #fff; 
	text-decoration: none; 
}

#logo-wrapper a span {
	margin-top: 5px;
}

#logo-wrapper img {
	display: inline-block;
  vertical-align: middle;
}


nav#nav { 
	width: auto; 
	float: right; 
}

nav#nav ul {
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;	
}

nav#nav li {
	display: inline;
	padding-left: 21px;
}

nav#nav li a { 
	color: #fff; 
	opacity:0.6; 
	font-size: 16px; 
	line-height: 55px;
	text-decoration: none; 
	font-family: 'Oswald', sans-serif; 
}

nav#nav li a:hover { 
	opacity:1; 
}

nav#nav li a.active { 
	opacity:1; 
	border-bottom: 2px solid #fff; 
}


/* Site sections styling */
.site-section {
	background: #fff;
	padding: 80px 60px;
	color: #333333;
	text-align: left;
}

#sign-up-form,
#gym-services {
	text-align: center;
}

#membership-options,
#gym-information {
	background: #2a4949;
	color: #fff;
}

/* Sign up complete message */
 #login-success-msg {
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
}

#register-form, 
#login-form {
	text-align: center;
}


h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 32px;
	color: #0C3735;
	margin: 0;
}


input {
	width: 350px;
	height: 30px;
	background-color: #e5e5e5;
	border: 1px solid #bebebe;
	font-size: 15px;
	color: #6d6d6d;
	border-radius: 2px;
	padding-left: 7px;
	font-family: 'Dosis', sans-serif;
}


/* Register and log in section */

#sign-up-forms-content {
	font-size: 15px;
	font-weight: normal;
	color: #848484;
	font-family: 'Oswald', sans-serif;
}

.sign-up-link {
	font-size: 15px;
	font-weight: normal;
	color: #0FC1C0;
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
}

.sign-up-link:hover {
	color: #25dad9;
	cursor: pointer;
}

form .form-element-wrapper {
	display: block;
	font-size: 18px;
	line-height: 27px;
	margin-bottom: 15px;
	font-weight: normal;
	color: #848484;
	font-family: 'Oswald', sans-serif;
}

input,
label {
	display: block;
	margin: 0 auto;
}

.form-button {
	background-color: #0FC1C0; 
	width: 358px;
	height: 50px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	border:0;
	cursor: pointer;
	border: none;
	margin: 10px auto;
}

.form-button:hover{
	background-color: #25dad9;
	border: 0;
	border-radius: 3px;
}

.warning {
	color: #ff0000;
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
}


/* User profile schedule (shows after sign up / login) */
#user_profile {
	text-align: center;
}

#user_schedule {
  width: 938px;
  height: 70px;
  border-radius: 5px;
  border: 0;
  display: block;
  background: #fbfbfb;
  margin-bottom: 2px;
}

#user_schedule p {
	font-family: 'Oswald', sans-serif; 
	font-weight: bold;
	font-size: 24px;
	color: #023f40;
	margin:8px;
}

#user_schedule a {
	font-family: 'Dosis', sans-serif;
	font-size:14px;
	text-decoration:none;
	color: #0FC1C0;
	line-height: 27px;
}

#user_schedule a:hover {
	color:#40aaab;
}

/* Classes schedule */
#classes-schedule h2 {
	text-align: center;
	margin-bottom: 30px;
}

table {
   width: 100%;
   border: none;
}

td {
	width: 15%;
	height: 30px;
	text-align: center;
	color: #5E5E5E;
	font-size: 14px;
	font-family: 'Dosis', sans-serif;
	background-color: #f8f8f8;
	padding: 4px;
}

th {
	background-color: #0FC1C0;
	color: #fff;
	height: 30px;
	width: 15%;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
	padding: 4px;
}

td.delete {
	background-color: #fff;
}

.deleteButton { 
	background-color: #58C0CC;
	font-weight: 500;
	color: #fff;
	border: none;
	font-size: 12px;
	border-radius: 3px;
	width: 20px;
	height: 20px;
	display: table;
	text-align: center;
	padding-bottom: 5px;
	font-weight: bold;
}

.reserveButton {
	background-color: #58C0CC;
	width: 80px;
	height:24px;
	border: 0;
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	border-radius: 4px;
	color: #fff;
}

.deleteButton:hover,
.reserveButton:hover {
	background-color: #25dad9;;
}



/* Membership types */
.membership-info {
	display: inline-block;
	vertical-align: top;
	background-color: #fff;
	border-radius: 3px;
	height:450px;
	width:30%;
	color: #293434;
	margin-right: 30px;
}

.membership-info:last-of-type {
	margin-right: 0;
}


.membership-info ul {
	text-align: left;
	font-size: 15px;
	line-height: 21px;
	font-family: 'Dosis', sans-serif;
	font-weight: normal;	
	margin-right: 35px;
	list-style-type: square;
}

.membership-info h4 {
	margin: 30px auto;
	text-align: center;
	border-bottom: 1px solid #777777;
	padding-bottom: 15px;
}

/* Gym services */
.services-description {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 0 24px;
	width: 26%;
	color: #535353;
	height: 430px;
}

.services-description:not(:last-of-type) {
	border-right: 1px solid #777777;
}

.services-description img {
	border-radius: 50%
}

.services-description p {
	font-size: 16px;
	line-height: 21px;
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
}


/* Contact section and google maps */

/* Social media icons */
#gym-information ul li,
#gym-information p {
	font-size: 15px;
	line-height: 19px;
	font-weight: normal;
	font-family: 'Dosis', sans-serif;
}

#contact-info {
	text-align: center;
	display: block;
	margin-bottom: 50px;
}

.contacts {
	vertical-align: top;
	width: 33%;
	display: inline-block;
}

.contacts ul {
	list-style: none;
	margin: 15px 0 0;
	padding: 0;
}


.contacts h4 {
	margin: 0 auto;
}

.social-icon {
	margin: 20px 5px 0;
	width:45px;
	height: 45px;
	border-radius: 50%;
	background-color: #0FC1C0;
	color: #2a4949;
	text-align: center;
	display:inline-block;
}

.social-icon:hover {
	background-color: #75eae9;
}

.social-fa {
	margin-top:14px;
}

/* maps and directions styling */
#map-section {
	width:100%;
	display: block;
}

#map-section > div {
	display: inline-block;
	vertical-align: top;
}

#map {
	width:50%;
	height: 380px !important;
	border:0;
}

#map-content-placeholder {
	width:45%;
	padding-left: 40px;
	height: 380px !important;
	text-align: center;
	margin: 0 auto;
}

input#homeAddress {
	width: 250px;
}

.transitButton {
	width: 62px;
	height: 62px;
	display: inline-block;
	margin-top: 20px;
	margin-right:5px;
	border-radius: 50%;
	border: 0;
	background-color: #0FC1C0;
}

#moreInfo {
	background-color: #0FC1C0;
	border-radius: 3px;
	text-align: center;
	display: table;
	width:150px;
	height:30px;
	border: 0;
	color:#2a4949;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 0 auto;
}

.transitButton:hover, 
#moreInfo:hover {
	background-color: #25dad9;
	cursor: pointer;
}


#infoPanel {
	padding-top:20px;
	width: 250px;
	margin: 0 auto;
}

#mapResults {
	width: 230px;
	height:100px;
	border-radius: 3px;
	text-align: center;
  color: #5E5E5E;
  font-size: 18px;
  font-weight: 800;
  font-family: 'Dosis', sans-serif;
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom:20px;
}

#mapResults span.routeHighlight {
	color: #0FC1C0;
}

#directions-window {
	width:100%;
  height:100%;
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0,0.75);
  overflow: auto;
}

.popup-inner {
	width:300px !important;
	height:400px;
 	position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  box-shadow:0px 2px 6px rgba(0,0,0,1);
  border-radius:3px;
}


.popup-close {
  width:30px;
  height:30px;
  padding-top:4px;
  display:inline-block;
  position:absolute;
  top:0px;
  right:0px;
  transition:ease 0.25s all;
  -webkit-transform:translate(50%, -50%);
  transform:translate(50%, -50%);
  border-radius:1000px;
  background:rgba(0,0,0,0.8);
  font-family:Arial, Sans-Serif;
  font-size:20px;
  text-align:center;
  line-height:100%;
  color:#fff !important;
}

.popup-close:hover {
  -webkit-transform:translate(50%, -50%) rotate(180deg);
  transform:translate(50%, -50%) rotate(180deg);
  background:rgba(0,0,0,1);
  text-decoration:none;
}


/* Footer */
footer {
	width:100%;
	background-color: #4db1b0;
	padding: 25px 30px;
	color: #133737;
	font-size: 15px;
	line-height: 100%;
	border-top: 1px solid #133737;
	font-family: 'Dosis', sans-serif;
}

/* Admin login form in the footer */
#admin-login-link {
	font-family: 'Oswald', sans-serif;
	color: #133737;
	font-size: 15px;
	font-weight: bold;
	float: right;
	margin-right: 80px;
}

#admin-login-link:hover {
	color: #8df9f8;
	cursor:pointer;
}

#administrator-login {
	float:right;
	margin-right:70px;
}

#administrator-login input {
	width: 100px;
	height: 20px;
	margin-right: 5px;
	display: inline-block;
	font-size: 11px;
	font-family: 'Dosis', sans-serif;
	border: 1px solid #617171;
}

#administrator-login input[type="button"] {
	width: 30px;
	background-color: #25dad9;
	text-align: center;
	color: #fff;
	font-weight: bold;
	border-radius: 4px;
	border: 0;
}

#administrator-login input[type="button"]:hover {
	background-color: #0FC1C0; 
}

#tryagain {
	margin-right: 10px;
}


/* Add classes form */
#add-classes-form {
	display: none;
}

#add-classes-form h2 {
	margin-bottom: 30px;
}

#add-classes-form #addClassForm label, 
#add-classes-form #addClassForm p {
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
	line-height: 34px;
}

#add-classes-form #addClassForm input, 
#add-classes-form #addClassForm select{
	width: auto;
	background-color: #fff;
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
	height: 24px;
  margin-left: 7px;
}

#add-classes-form #addClassForm input,
#add-classes-form #addClassForm  select,
#add-classes-form #addClassForm label {
	display: inline-block;
}


/* User schedule section */
div.us {
	display: table;
	background-color: #abdedf;
	width:940px;
	height:30px;
}


div.userschedule {
	box-sizing: border-box;
	width:235px;
	height:30px;
	font-family: 'Dosis', sans-serif;
	color:#353535;
	font-size:14px;
	border-right:2px solid #fff;
	display: table-cell;
	vertical-align: middle;
	border-bottom:1px solid #15595a;
	text-align: left;
  padding-left: 7px;
}

div.userschedule strong {
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
}

